input[type="checkbox"][id^="bench"] {
    display: none;
  }

input[type="checkbox"][id^="active"] {
    display: none;
  }

:checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }